#!/usr/bin/env bash

# Let stuff installed via brew be before the system stuff
export PATH="/usr/local/bin:$PATH:$GOPATH/bin"

# Heroku Toolbelt
export PATH="/usr/local/heroku/bin:$PATH"

# google cloud tools
export PATH="$PATH:/opt/gce/google-cloud-sdk/bin"

# jmeter
export PATH="$PATH:/Users/ben/Applications/apache-jmeter-4.0/bin"

# SBT JVM-Options
export SBT_OPTS="-XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:PermSize=256M -XX:MaxPermSize=512M"

export GOPATH="$HOME/go"

# Default Editor
export EDITOR=vim

# Maven configuration
export M2_REPO="$HOME/.m2/repository"

export SCALA_HOME="/usr/local/opt/scala/idea"

# node and io.js
export NVM_DIR="$HOME/.nvm"
export NODE_REPL_HISTORY_FILE="$HOME/.node-repl-history"
