#!/usr/bin/env bash

# Let stuff installed via brew be before the system stuff
export PATH="/usr/local/bin:$PATH"

# Heroku Toolbelt
export PATH="/usr/local/heroku/bin:$PATH"

# SBT JVM-Options
export SBT_OPTS="-XX:+UseConcMarkSweepGC -XX:+CMSClassUnloadingEnabled -XX:PermSize=256M -XX:MaxPermSize=512M"

# Default Editor
export EDITOR=vim

# Maven configuration
export M2_REPO="$HOME/.m2/repository"

# JAVA_HOME for Oracle's JDK (avoid Java 8)
export JAVA_HOME=$(stat -f "%N" /Library/Java/JavaVirtualMachines/jdk1.7.*/Contents/Home/ | tail -1)

# ICIS+ configuration
export ICISPLUS_REPO="$HOME/projects/icisplus/repository"

# HuGO configuration
export HUGO_REPO="$HOME/projects/hugo/repository"

# Always forward the 49XXX range for Docker
export FORWARD_DOCKER_PORTS='true'

# POSTIT configuration (encrypted note management)
export POSTIT_HOME="$HOME/Dropbox/postit"
export POSTIT_KEY_ID="0xDCDA552A8E3E9445"

# Standard Docker configuration
export DOCKER_IP=192.168.59.103
export DOCKER_HOST=tcp://192.168.59.103:2375
