[color]
  ui = true

[user]
  name = Ben Ripkens
  email = bripkens@gmail.com

[core]
  ignorecase = false
  # Use custom `.gitignore` and `.gitattributes`
  excludesfile = ~/.dotfiles/.gitignore
  attributesfile = ~/.dotfiles/.gitattributes
  # Treat spaces before tabs, lines that are indented with 8 or more spaces, and
  # all kinds of trailing whitespace as an error.
  # [default] trailing-space: looks for spaces at the end of a line
  # [default] space-before-tab: looks for spaces before tabs at the beginning of
  # a line
  whitespace = space-before-tab,indent-with-non-tab,trailing-space
  pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
  serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
  deleteOld = "! git branch --merged master | grep -v "master" | grep -v "develop" | xargs git branch -D"
  contributors = !git shortlog -s -n --no-merges
  summary = "! ~/.dotfiles/scripts/git-wtf"
  checkout-excel = "! git status --porcelain | q "select c2 from -" | grep xls | xargs git checkout"
  cleaner = "! git clean -fd && git reset --hard"

[credential]
  helper = osxkeychain

[push]
  default = matching
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[branch "master"]
	rebase = true
[branch "develop"]
	rebase = true
[branch "release"]
	rebase = true
[merge]
	conflictstyle = diff3
