"*":
  "advanced-open-file":
    createFileInstantly: true
    defaultInputValue: "Project root"
  "atom-css-unit-converter":
    comments: false
    leadingZero: false
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    customFileTypes:
      "source.css.less": [
        "mless"
      ]
    disabledPackages: [
      "autocomplete-modules"
      "svg-preview"
    ]
    telemetryConsent: "no"
    themes: [
      "pristine-ui"
      "one-dark-syntax"
    ]
    titleBar: "hidden"
    warnOnLargeFileLimit: 4
  editor:
    autoIndentOnPaste: false
    fontFamily: "Fira Code"
    fontSize: 20
    preferredLineLength: 120
    showIndentGuide: true
  "exception-reporting":
    userId: "20c1b373-4a8d-4198-848f-a3051bafbe9a"
  jsformat:
    format_on_save: false
  linter:
    lintOnChange: false
  "linter-flow":
    executablePath: "/usr/local/bin/flow"
  "linter-js-standard":
    checkStyleDevDependencies: true
  "linter-ui-default":
    panelHeight: 127
    showPanel: true
  "prettier-atom":
    prettierOptions:
      printWidth: 120
      singleQuote: true
      tabWidth: 2
  "pristine-ui":
    tabSizing: "Minimum"
  "svg-preview":
    openPreviewAutomatically: true
  tabs:
    enableVcsColoring: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 20
    neverCloseDirty: true
    neverCloseUnsaved: true
