'body':
  'ctrl-k': 'pane:split-up'
  'ctrl-j': 'pane:split-down'
  'ctrl-h': 'pane:split-left'
  'ctrl-l': 'pane:split-right'

'body .native-key-bindings':
  'ctrl-tab': 'core:focus-next'
  'ctrl-shift-tab': 'core:focus-previous'

# unset the select line shortcut so that go go line can be rebound
'atom-text-editor':
  'cmd-l': 'unset!'
'.platform-darwin, .platform-win32, .platform-linux':
  'cmd-l': 'go-to-line:toggle'

'atom-text-editor:not(.mini)':
  'cmd-e': 'editor:delete-line'
  'cmd-shift-b': 'tree-view:toggle'

'atom-workspace':
  'f3': 'typescript:go-to-declaration'

'atom-workspace atom-text-editor:not([mini])':
  'alt-up': 'editor:move-line-up'
  'alt-down': 'editor:move-line-down'

'.platform-darwin':
  'cmd-b': 'tree-view:reveal-active-file'
  'cmd-shift-b': 'tree-view:toggle'

'.platform-darwin atom-text-editor':
  'ctrl-shift-c': 'bracket-matcher:close-tag'

'atom-workspace atom-text-editor:not(.mini)':
  'cmd-shift-c': 'editor:toggle-line-comments'
