# Your keymap
#
# Atom keymaps work similarly to stylesheets. Just as stylesheets use selectors
# to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts.
#
# You can create a new keybinding in this file by typing "key" and then hitting
# tab.
#
# Here's an example taken from Atom's built-in keymap:
#
# '.editor':
#   'enter': 'editor:newline'
#
# 'body':
#   'ctrl-P': 'core:move-up'
#   'ctrl-p': 'core:move-down'
#
'body .native-key-bindings':
  'ctrl-tab': 'core:focus-next'
  'ctrl-shift-tab': 'core:focus-previous'

'.editor:not(.mini)':
  'cmd-e': 'editor:delete-line'
  'cmd-shift-b': 'tree-view:toggle'

'atom-workspace atom-text-editor:not([mini])':
  'alt-up': 'editor:move-line-up'
  'alt-down': 'editor:move-line-down'

'.platform-darwin':
  'cmd-b': 'tree-view:reveal-active-file'
  'cmd-shift-b': 'tree-view:toggle'

'.platform-darwin atom-text-editor':
  'ctrl-shift-c': 'bracket-matcher:close-tag'

'.workspace .editor:not(.mini)':
  'cmd-shift-c': 'editor:toggle-line-comments'
