'ui-client':
  'title': 'ui-client'
  'paths': [
    '/Users/ben/projects/instana/repos/ui-client'
  ]
'ui-map':
  'title': 'ui-map'
  'paths': [
    '/Users/ben/projects/instana/repos/ui-map'
  ]
'ui-forge':
  'title': 'ui-forge'
  'paths': [
    '/Users/ben/projects/instana/repos/ui-forge'
  ]
'ui-sdk':
  'title': 'ui-sdk'
  'paths': [
    '/Users/ben/projects/instana/repos/ui-sdk'
  ]
'ui-services':
  'title': 'ui-services'
  'paths': [
    '/Users/ben/projects/instana/repos/ui-services'
  ]
'ui-components':
  'title': 'ui-components'
  'paths': [
    '/Users/ben/projects/instana/repos/ui-components'
  ]
'ui-backend-dummy':
  'title': 'ui-backend-dummy'
  'paths': [
    '/Users/ben/projects/instana/repos/ui-backend-dummy'
  ]
'project-sidebar':
  'title': 'project-sidebar'
  'paths': [
    '/Users/ben/projects/project-sidebar'
  ]
'instalog.js':
  'title': 'instalog.js'
  'paths': [
    '/Users/ben/projects/instana/repos/instalog.js'
  ]
'ui-backend':
  'title': 'ui-backend'
  'paths': [
    '/Users/ben/projects/instana/repos/ui-backend'
  ]
'ui-deployment':
  'title': 'ui-deployment'
  'paths': [
    '/Users/ben/projects/instana/repos/ui-deployment'
  ]
'docs':
  'title': 'docs'
  'paths': [
    '/Users/ben/projects/instana/repos/docs'
  ]
'.dotfiles':
  'title': '.dotfiles'
  'paths': [
    '/Users/ben/.dotfiles'
  ]
'ui-themes':
  'title': 'ui-themes'
  'paths': [
    '/Users/ben/projects/instana/repos/ui-themes'
  ]
